<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Mi Aplicación en Angular (Curso ITSVA)</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" [routerLink]="['/home']">
        <mat-icon>favorite</mat-icon> <!--la parte de: [routerLink]="['/home']" es para responda el botón y se vaya a la ruta correspodiente -->
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [routerLink]="['notes']">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>

  
